@charset "UTF-8";

  /* a 태그에 대한 스타일 */
  a {
    text-decoration: none; /* 밑줄 제거 */
    color: #333; /* 링크의 기본 색상 설정 */
  }

  /* 방문한 링크에 대한 스타일 */
  a:visited {
    color: #333; /* 방문한 링크의 색상 설정 */
  }

  /* 마우스를 올렸을 때의 링크에 대한 스타일 */
  a:hover {
    color: #666; /* 마우스를 올렸을 때의 링크 색상 설정 */
  }

  /* 클릭한 링크에 대한 스타일 */
  a:active {
    color: #999; /* 클릭한 링크의 색상 설정 */
  }
@font-face {
    font-family: 'MICEGothic Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

#ListArea {
  font-family: 'MICEGothic Bold';
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

#InnerArea{
  width: 100%;
  max-width: 1500px;
  margin : 0 auto;
  text-align: center;
}

#body {
  margin-top: 50px; /* 본문 내용 상단 여백 설정 */
}

#title {
  text-align: center;
  font-weight: bold;
  font-size: 70px;
  width: 800px;
  height: 120px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#notice{
	font-size: 25px;
}

table {
  width: 80%; /* 테이블 너비 설정 */
  margin: 0 auto; /* 가운데 정렬 */
  border-collapse: collapse; /* 테이블 경계선 병합 설정 */
  margin-bottom: 30px; /* 테이블 아래 여백 설정 */
}

th,
td {
  height:50px;
  font-size: 30px;
  padding: 10px; /* 셀 안쪽 여백 설정 */
  text-align: center; /* 셀 텍스트 정렬 */
  vertical-align: middle;
  border-bottom: 1px solid #ccc; /* 셀 하단 경계선 설정 */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 10ch; /* 최대 글자 수 */
}

#th1{
  padding-left: 15px;
  width:10%;
  border-top-left-radius: 10px;
  border-bottom-left-radius : 10px;
}

#th2{
  width:15%;
}

#th3{
  width:40%;
}

#th4{
  width:20%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#no{
  font-size:25px;
}

th {
  font-weight: bold;
  background-color: #C0EEF2; /* 헤더 배경색 설정 */
}

#reportButtonContainer {
  display: flex;
  justify-content: flex-end; /* 오른쪽 정렬 */
  width: 90%;
  height: 50px;
  margin-top: 70px; /* 제보 버튼과 제목 사이의 간격 조절 */
  margin-bottom: 50px; /* 제보 버튼과 테이블 사이의 간격 조절 */
}

.blue-btn {
  width: 200px;
  height: 80px;
  background-color:#2F58CD;
  font-family: 'MICEGothic Bold';
  font-weight:bold;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 40px;
  cursor: pointer;
}

.blue-btn img {
  vertical-align: middle;
  margin-bottom: 5px;
}

.pagination {
  margin-top : 50px;
  width: 70%;
}


.pagination .paginate_button.active a {
  font-weight:bold; /* 현재 페이지를 굵게 표시*/
  font-size:35px;
}
