@charset "UTF-8";

.cell-content-wrapper {
    display: flex;
    align-items: center;
  }
  .show-more-button {
    display: inline-block;
    width: 50px; /* 버튼의 너비를 조절할 수 있습니다. */
    margin-left: 10px; /* 버튼과 셀 내용 사이의 간격을 조절할 수 있습니다. */
  }
  .cell-content {
    height: 40px; /* 적절한 높이로 설정 */
    overflow: hidden;
    text-overflow: ellipsis;
  }
h1{
    text-align: center;
    color: #2d52ad;
}
.childname{
    text-align: center;
    font-size: 1.8em;
    font-weight: bold;
    border: 1px solid white;
    width: 60%;
    height: 10%;
    margin-left: auto; 
    margin-right: auto;
    padding: 13px;
    border-radius: 20px;
    background-color: white;
    color: #2d52ad;
}
.clear_b{
 overflow-x: auto;
 width: 80%;
 height: 24%;
 margin-left: auto; 
 margin-right: auto;
 padding: 15px;
 border-radius: 20px;
 background-color: #4a89dc;
}
.gal-img{
 float: left;
}
.info{
 float: right;
 width: 70%;
 height: 20%;
}
table.table-01{
 width: 95%;
 min-width: 500px;
 height: 20px;
 border-collapse: collapse;
 text-align: left;
 font-size: 1.4em;
 margin: 10px 10px 10px 10px;
}
 table.table-01 th{
 border-bottom: 1px solid white;
 border-right: 1px solid white;
 border-top: 1px solid white;
 background-color: #2d52ad;
 color: white;
 padding: 10px;
 height: 20px;
 width: 100px;
 }
 table.table-01 td{
 border-bottom: 1px solid #2d52ad;
 border-top: 1px solid #2d52ad;
 background-color: white;
 color: black;
 padding: 10px;
 height: 20px;
 }