@charset "UTF-8";

@font-face {
    font-family: 'MICEGothic Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
#map {
         width: 100%;
         height: 40vh;
         display: flex;
         justify-content: center;
         align-items: center;}
      #tabml {
         width: 50%;
         height: 500px;
      }
      body {
        background: #f5f5f5
   }

   table {
        border: 1px #a39485 solid;
        font-size: 15px;
        font-family: 'MICEGothic Bold';
        box-shadow: 0 2px 5px rgba(0,0,0,.25);
        width: 100%;
        border-collapse: collapse;
        border-radius: 5px;
        overflow: hidden;
      }

   th {
        text-align: left;
      }
  
   thead {
        font-weight: bold;
        color: #fff;
        background: #4a89dc;
   }
   
   .w-btn {
       position: relative;
       border: none;
       display: inline-block;
       padding: 10px 20px;
       border-radius: 15px;
       font-family: "paybooc-Light", sans-serif;
       font-size: 20px;
       box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
       text-decoration: none;
       font-weight: 600;
       transition: 0.25s;
       display: flex;
       justify-content: center;
       align-items: center;
   }

   .w-btn-outline {
       position: relative;
       padding: 10px 20px;
       border-radius: 15px;
       font-family: "paybooc-Light", sans-serif;
       box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
       text-decoration: none;
       font-weight: 600;
       transition: 0.25s;
   }
   .w-btn-gray-outline {
       border: 3px solid #a3a1a1;
       color: #6e6e6e;
   }
   .btn-container {
     font-size: 20px;
     text-align: right;
     margin-top: 20px; /* 위쪽 여백 추가 */
     margin-bottom: 20px; /* 아래쪽 여백 추가 */
   }
  
    td, th {
        padding: 1em .5em;
        vertical-align: middle;
   }
  
    td {
        border-bottom: 1px solid rgba(0,0,0,.1);
        font-weight: bold;
      }

   a {
        color: #73685d;
   }
  
    @media all and (max-width: 768px) {
    
        table, thead, tbody, th, td, tr {
          display: block;
        }
  
     th {
       text-align: right;
     }
  
     table {
       position: relative; 
       padding-bottom: 0;
       border: none;
       box-shadow: 0 0 10px rgba(0,0,0,.2);
     }
  
     thead {
       float: left;
       white-space: nowrap;
     }
  
     tbody {
       overflow-x: auto;
       overflow-y: hidden;
       position: relative;
       white-space: nowrap;
     }
  
     tr {
       display: inline-block;
       vertical-align: top;
     }
  
     th {
       border-bottom: 1px solid #a39485;
     }
  
     td {
       border-bottom: 1px solid #e5e5e5;
     }
  
  
     }