@charset "UTF-8";

@font-face {
    font-family: 'MICEGothic Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
.cnt-opt {
   font-family: 'MICEGothic Bold';
   border: 2px solid gray;
   border-radius: 10px;
   width: 80%;
   height: 700px;
   margin: 50px auto;
   padding: 30px;
   }
   .cnt-main{
   font-family: 'MICEGothic Bold';
   }
   .main-copy{
   font-size: 45px;
   font-weight: bolder;
   text-align: center;
   color: #245d9e;
   }
   .col-sm-4{
   text-align: center;
   }
   .img-responsive{
   width: 50%;
   height: 50%;
   }
   .main{
   margin-top: 50px;
   font-size: 40px;
   line-height: 1.5em;
   text-align: justify;
   color: #485054;
   }
   .item-title{
   font-size: 33px;
   font-weight: bolder;
   text-align: center;
   color: #245d9e;
   }
   .logoexplanation{
   font-size: 29px;
   line-height: 1.5em;
   text-align: justify;
   color: #485054;
   margin-left: auto; 
   margin-right: auto;
   padding: 50px;
   }
   .m-t-20{
   text-align: center;
   }
   .outer{
   text-align: center;
   }
   .text-center{
   font-size: 30px;
   padding: 50px;
   margin: 20px 20px 20px 20px;
   }
   img.center-block{
   width: 600px;
   height: 600px;
   }
   button{
   width: 200px;
   height: 60px;
   font-size: 20px;
   }
   .w-btn {
    position: relative;
    border: none;
    display: inline-block;
    padding: 15px 15px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}

.w-btn-outline {
    position: relative;
    padding: 15px 15px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}
.w-btn-gray-outline {
    border: 3px solid #a3a1a1;
    color: #6e6e6e;
}