@import "reset.css";
@font-face {
    font-family: 'RIDIBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.menu {
  font-family: 'RIDIBatang';
}

#mypagemenu {
    list-style-type: none;
    padding: 10px 0px 0px 0px;
    top:220px;
    width: 150px;
    height: 1400px;
    background:#C0DBEA;
    position: fixed;
}

#mypagemenu li a {
    text-decoration: none;
    padding: 10px;
    margin : 40px auto;
    display: block;
    color: #000;  
    font-size:1.1em;
}

#mypagemenu li label {
    display: block;
    padding: 10px;
    font-weight: bold

}

#mypagemenu li a:hover  {
    background: #333;   /* 마우스 가져다 대면 색변경*/
    color:#fff          /* 마우스 가져다 대면 글씨 색변경*/
}
