*{
    margin: auto;
    padding: auto;
}

.signup {
    border: 0px solid black;
    width: 800px;
    height: 1200px;
    justify-content: center;
    align-items: center;
    }      
  
.wrapper input {
    width: 450px;
    height:30px;
    border-radius: 3px;
    border: 1px solid gray;
  }

  #title {
    margin-left: 100px;
    margin-top: 10px;
    font-weight:1000;
    font-size:2em;
    border : 1px solid pink;
    width: 150px;
    height: 50px;
    position:center;
    
  }
  #info_id {
    position: relative;
  }
  
  #info_id input {
    margin: 10px 0px 0px 100px;
    width: 500px;
    height: 45px;
    border-radius: 5px;
  }
  
  #info_id button {
    margin: 14px 0px 0px 0px ;
    width: 150px;
    height: 40px;
    border-radius: 3px;
    background-color: #6559e8;
    border: #1fa7d2;
    color: white;
    font-size: 1em;
    right: 104px;
    position: absolute;
  }

  #info_pw1 input {
    margin-top: 8px;
    margin-left: 95px;
    width: 500px;
    height: 45px;
    border-radius: 5px;
    position: relative;
  }

  #info_pw2 input {
    margin-top: 8px;
    margin-left: 95px;
    width: 500px;
    height: 45px;
    border-radius: 5px;
    position: relative;
  }

  #info_name input {
    margin-top: 8px;
    margin-left: 95px;
    width: 500px;
    height: 45px;
    border-radius: 5px;
    position: relative;
  }

  #info_gender1 {
    margin-top: 8px;
    margin-left: 95px;
    width: 500px;
    height: 45px;
    border-radius: 5px;
    position: relative
  }

  #info_email {
    position: relative;
  }
  
  #info_email1 input {
    margin-top: 8px;
    margin-left: 95px;
    width: 500px;
    height: 45px;
    border-radius: 5px;
    position: relative;
  }

  #info_email1 button {
    margin: 12px 0px 0px 0px ;
    width: 150px;
    height: 40px;
    right: 105px;
    border-radius: 3px;
    position: absolute;
    background-color: #6559e8;
    border: #1fa7d2;
    color: white;
    font-size: 1em;
  }

  #info_email2 input {
    margin-top: 8px;
    margin-left: 95px;
    width: 500px;
    height: 45px;
    border-radius: 5px;
    position: relative;
  }

  #info_age input {
    margin-top: 8px;
    margin-left: 95px;
    width: 500px;
    height: 45px;
    border-radius: 5px;
  }

  #info_address input {
    margin-top: 8px;
    margin-left: 95px;
    width: 500px;
    height: 45px;
    border-radius: 5px;
    position: relative;
  }

   #b > #b1 {
    margin-top: 80px;
    margin-left: 100px;
    width: 150px;
    height: 40px;
    border-radius: 3px;
    font-size: 1em;
    background-color: #6559e8;
    border: #1fa7d2;
    color: white;
  }

  #b > #b2 {
    margin-top: 80px;
    margin-left: 5px;
    width: 150px;
    height: 40px;
    border-radius: 3px;
    font-size: 1em;
    background-color: #00b6ef;
    border: #1fa7d2;
    color: white;
  }
  
  input::placeholder {
    font-size: 1.2em;
  }
  input {
    padding: 0px 0px 0px 10px;
  }

  #already {
    margin: 20px 0px 0px -20px;
  }

  #login {
    margin: -20px -250px 7px 10px;
    font-weight: bold;
  }
  
  
  
  
  