/* 컨텐츠 영역 스타일 */
@font-face {
    font-family: 'MICEGothic Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

*{
   font-family: 'MICEGothic Bold';
}

#mywrite_title {
   margin-top: 80px;
   margin-bottom: 10px;
   margin-right: 20px;
   left: 450px;
   top: 210px;
   font-size: 50px; 
   font-weight: bold;
   text-align: center;   
   padding: 10px;
   
}

.mywrite_table {   
   border-collapse: collapse;
   left: 120px;
   top: 320px;
   margin: 130px;
   margin-top: 70px;
   width: 80%;
   font-size: 2em;
   text-align: center;
   padding: 10px;
   font-weight: bold; 
   border: 5px solid black;
   
   
}

.mywrite_table th {
   background: #8e9091;
   color: #fff;
   padding: 10px;
   border: 1px solid #000;
}

.mywrite_table td {
   border: 1px solid #000;
   padding: 10px;
} 


.mywrite_table tr:hover .mywrite_table td:first-child {
  background-color: #c0dbea;
  color: white; 
}

/* a 태그에 대한 스타일 */
  a {
    text-decoration: none; /* 밑줄 제거 */
    color: #333; /* 링크의 기본 색상 설정 */
  }

  /* 방문한 링크에 대한 스타일 */
  a:visited {
    color: #333; /* 방문한 링크의 색상 설정 */
  }

  /* 마우스를 올렸을 때의 링크에 대한 스타일 */
  a:hover {
    color: #666; /* 마우스를 올렸을 때의 링크 색상 설정 */
  }

  /* 클릭한 링크에 대한 스타일 */
  a:active {
    color: #999; /* 클릭한 링크의 색상 설정 */
  }