<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
        
<mapper namespace="com.firstclass.childrenctv.ChildBoard.ChildBoardMapper">  
    <select id="getChild" resultType="com.firstclass.childrenctv.ChildBoard.ChildBoardVO">
    	select * from CHILDBOARD_TABLE where child_id>0
    </select>
    
    <select id="getChildId" parameterType="Long"  resultType="com.firstclass.childrenctv.ChildBoard.ChildBoardVO">
    	select * from CHILDBOARD_TABLE where child_id=#{id}
    </select>
    
    <select id="getChildAddr" parameterType="String" resultType="com.firstclass.childrenctv.ChildBoard.ChildBoardVO">
    	select * from CHILDBOARD_TABLE where child_location like '%'||#{addr}||'%'
    </select>
    
    <insert id="insert" parameterType="com.firstclass.childrenctv.ChildBoard.ChildBoardVO">
        INSERT INTO CHILDBOARD_TABLE(child_id,child_location,child_curage,child_occage,child_gender,child_name,child_time,child_feature,child_outfit,child_img)
            VALUES (seq_child.nextval,#{child_location}, #{child_curage},#{child_occage},#{child_gender},#{child_name},#{child_time},#{child_feature},#{child_outfit},#{child_img})
    </insert>
</mapper>