<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.firstclass.childrenctv.familyRelation.FamilyRelationMapper">

   <insert id="save" parameterType="com.firstclass.childrenctv.familyRelation.FamilyRelationVO">
        INSERT INTO FAMILY_RELATION_TABLE(id, user_id, childBoard_id, approval)
            VALUES (seq_familyRelation.NEXTVAL, #{user_id}, #{childBoard_id}, #{approval})
    </insert>
  	
    <select id="findRelationByChild" parameterType="java.lang.Long"
            resultType="com.firstclass.childrenctv.familyRelation.FamilyRelationVO">
        SELECT * FROM FAMILY_RELATION_TABLE WHERE childBoard_id = #{childBoard_id}
    </select>
    <!-- 차일드정보가져오기 -->
    <select id="getChildrenByUser" parameterType="java.lang.Long"
            resultType="com.firstclass.childrenctv.childBoard.ChildBoardVO">
          select * from family_relation_table f, childboard_table c 
          where f.childboard_id = c.child_id and user_id = #{user_id} AND approval = 1
    </select>
    
<!-- 마이페이지 실종알림 -->
    <select id="findRelationByUser" parameterType="java.lang.Long"
            resultType="com.firstclass.childrenctv.familyRelation.FamilyRelationVO">
        SELECT * FROM FAMILY_RELATION_TABLE WHERE user_id = #{user_id} AND approval = 1
    </select>

    <select id="findRelationByUserAndChild" parameterType="java.lang.Long"
            resultType="com.firstclass.childrenctv.familyRelation.FamilyRelationVO">
        SELECT * FROM FAMILY_RELATION_TABLE WHERE user_id = #{user_id} AND childBoard_id= #{child_id}
    </select>

    <update id="approval" parameterType="java.lang.Long">
        UPDATE FAMILY_RELATION_TABLE SET approval = 1 WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Long">
        DELETE FAMILY_RELATION_TABLE WHERE id = #{id}
    </delete>
    
    <insert id="insert">
    	INSERT INTO FAMILY_RELATION_TABLE(id, user_id, childBoard_id, approval)
    		VALUES (seq_familyRelation.NEXTVAL, #{user_id}, #{childBoard_id}, #{approval})
    </insert>
    
</mapper>