<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.firstclass.childrenctv.protectBoard.ProtectBoardMapper">

<insert id="insert">
insert into ProtectBoard_table(protect_id, child_name, child_age, child_gender, child_hometown, child_findlocation, protect_address, protect_time, protect_content, user_phone, user_loginId, child_id, password)
values(seq_protectboard.nextval, #{child_name}, #{child_age}, #{child_gender}, #{child_hometown}, #{child_findlocation}, #{protect_address}, #{protect_time}, #{protect_content}, #{user_phone}, #{user_loginId}, #{child_id}, #{password})
</insert>

<select id="getListWithPaging" resultType="com.firstclass.childrenctv.protectBoard.ProtectBoardVO">
<![CDATA[
       select protect_id, child_name, child_age, child_gender, child_hometown, child_findlocation, protect_time, protect_address, protect_content, user_phone, user_loginId, child_id, password, approval
       from (select /*+ index_desc(protectboard_table pt_pk)*/ rownum rn,protect_id, child_name, child_age, child_gender, child_hometown, child_findlocation, protect_time, protect_address, protect_content, user_phone, user_loginId, child_id, password, approval
             from 
               protectboard_table 
             where 
             ]]>
       
       <![CDATA[
             rownum <= #{pageNum}*#{amount}
             ) 
        where rn > (#{pageNum}-1)*#{amount}
        ]]>
</select>

<select id="getTotalCount" resultType="int">
select count(*) from protectboard_table where protect_id >0
</select>

<update id="update">
update Protectboard_table set child_name =#{child_name}, child_age =#{child_age}, child_gender =#{child_gender}, child_hometown=#{child_hometown}, child_findlocation=#{child_findlocation}, protect_time =#{protect_time}, protect_address =#{protect_address}, protect_content =#{protect_content}, user_phone=#{user_phone} where protect_id = #{protect_id}
</update>

<select id="get" resultType ="com.firstclass.childrenctv.protectBoard.ProtectBoardVO">
select * from ProtectBoard_table where protect_id = #{protect_id} AND approval =1
</select>

<select id="getAll" resultType="com.firstclass.childrenctv.protectBoard.ProtectBoardVO">
select * from ProtectBoard_table where approval =1
</select>

<select id="getByUser" resultType="com.firstclass.childrenctv.protectBoard.ProtectBoardVO">
select * from ProtectBoard_table where user_loginId= #{user_loginId} AND approval =1
</select>

<select id="getByAddress" resultType="com.firstclass.childrenctv.protectBoard.ProtectBoardVO">
select * from ProtectBoard_table where protect_addres like '%'||#{address}||'%'
</select>

<delete id="delete"> 
delete Protectboard_table where protect_id =#{protect_id}
</delete>

<insert id="insertPR">
insert into protectRelation (pr_id, protect_id, child_id)
values(seq_pr.nextval, #{protect_id}, #{child_id})
</insert>

<select id="getNotPR" resultType="Long">
select protect_id from ProtectBoard_table where ispr =0
</select>

<update id="doPR">
update ProtectBoard_table set ispr=1 where protect_id=#{protect_id}
</update>

<select id="getProtectByChild" resultType="Long">
select protect_id from ProtectRelation where child_id = #{child_id}
</select>

</mapper>