<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.firstclass.childrenctv.ReportBoard.ReportBoardMapper">

<insert id="insert" parameterType="com.firstclass.childrenctv.ReportBoard.ReportBoardVO">
    insert into ReportBoard_table(report_id, child_name, child_age, child_gender, report_address, report_time, report_content, user_loginId, child_id, password, approval)
    values(seq_reportboard.nextval, #{child_name}, #{child_age}, #{child_gender}, #{report_address}, #{report_time}, #{report_content}, #{user_loginId}, #{child_id}, #{password}, 1)
    <selectKey keyProperty="report_id" resultType="Long">
        SELECT seq_reportboard.CURRVAL FROM DUAL
    </selectKey>
</insert>

<select id="get" resultType ="com.firstclass.childrenctv.ReportBoard.ReportBoardVO">
select * from ReportBoard_table where report_id = #{report_id} AND approval =1
</select>

<select id="getByChild" resultType="com.firstclass.childrenctv.ReportBoard.ReportBoardVO">
select * from ReportBoard_table where child_id = #{child_id} AND approval =1 order by report_id desc
</select>

<select id="getByUser" resultType="com.firstclass.childrenctv.ReportBoard.ReportBoardVO">
select * from ReportBoard_table where user_loginId = #{user_loginId} AND approval =1
</select>

<delete id="deleteReportBoard"> 
delete reportboard_table where report_id =#{report_id}
</delete>

<update id="update">
update reportboard_table set report_time =#{report_time}, report_address =#{report_address}, report_content =#{report_content} where report_id = #{report_id}
</update>

</mapper>