<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.firstclass.childrenctv.ReportBoard.ReportBoardMapper">

<insert id="insert">
insert into ReportBoard_table(report_id,report_address, report_time, report_content, user_id, user_loginId, child_id)
values(seq_reportboard.nextval, #{report_address}, #{report_time}, #{report_content}, #{user_id}, #{user_loginId}, #{child_id})
</insert>

<select id="get" resultType ="com.firstclass.childrenctv.ReportBoard.ReportBoardVO">
select * from ReportBoard_table where report_id = #{report_id}
</select>

<select id="getByChild" resultType="com.firstclass.childrenctv.ReportBoard.ReportBoardVO">
select * from ReportBoard_table where child_id = #{child_id} order by report_id desc
</select>

<select id="getByUser" resultType="com.firstclass.childrenctv.ReportBoard.ReportBoardVO">
select * from ReportBoard_table where user_id = #{user_id}
</select>

<delete id="deleteReportBoard"> 
delete reportboard_table where report_id =#{report_id}
</delete>

<update id="update">
update reportboard_table set report_time =#{report_time}, report_address =#{report_address}, report_content =#{report_content} where report_id = #{report_id}
</update>

<select id="getLoginId">
select user_loginId from user_table where user_id =#{user_id}
</select>

</mapper>